@import "tailwindcss";

:root {
  --background: #FBF7F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-inter);
}
.font-plus-jakarta-sans {
  font-family: var(--font-plus-jakarta-sans);
}
.font-inter {
  font-family: var(--font-inter);
}


body {
  background: var(--background);
}
